<div class="section">
  <div class="container">
    <div class="columns is-centered">

      <div class="column is-4">
        <h2 class="title is-2 is-main-font-color">
          Edit
        </h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <div class="form-inputs">
            <div class="field">
              <div class="control is-main-font-color">
                <%= f.input :name,
                            required: true,
                            label: "Name",
                            autofocus: true,
                            input_html: { autocomplete: "name", class:"input is-rounded is-dark-bg-highlight is-main-font-color" }, wrapper: false, label_html: { class: "fa fa-user" } %>
              </div>
            </div>
            <div class="field">
              <div class="control is-main-font-color">
                <%= f.input :username,
                            required: true,
                            label: "Username",
                            autofocus: true,
                            input_html: { autocomplete: "username", class:"input is-rounded is-dark-bg-highlight is-main-font-color" }, wrapper: false, label_html: { class: "fa fa-at" } %>
              </div>
            </div>
            <div class="field">
              <div class="control is-main-font-color">
                <%= f.input :email,
                          required: true,
                          label: "Email",
                          autofocus: true,
                          input_html: { autocomplete: "email", class:"input is-rounded is-dark-bg-highlight is-main-font-color" }, wrapper: false, label_html: { class: "fa fa-envelope" } %>
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                <% end %>
              </div>
            </div>

            <div class="field">
              <div class="control is-main-font-color">
                <%= f.input :password,
                          required: true,
                          label: "Password",
                          placeholder: "Only Fill In To Change Password",
                          input_html: { autocomplete: "new-password", class:"input is-rounded is-dark-bg-highlight is-main-font-color" }, wrapper: false, label_html: { class: "fa fa-lock" } %>
              </div>
            </div>
            <div class="field">
              <div class="control is-main-font-color">
                <%= f.input :password,
                          required: true,
                          label: "Password",
                          placeholder: "Only Fill In To Change Password",
                          input_html: { autocomplete: "new-password", class:"input is-rounded is-dark-bg-highlight is-main-font-color" }, wrapper: false, label_html: { class: "fa fa-lock" } %>
              </div>
            </div>
            <div class="field">
              <div class="control is-main-font-color">
                <%= f.input :password,
                          required: true,
                          label: "Password",
                          placeholder: "Fill In To Confirm Changes",
                          input_html: { autocomplete: "new-password", class:"input is-rounded is-dark-bg-highlight is-main-font-color" }, wrapper: false, label_html: { class: "fa fa-lock" } %>
              </div>
            </div>
          </div>

          <div class="form-actions">
            <br/>
            <%= f.button :submit, "Update", class: "button is-button-color is-button-font-color" %><br/><br/>
            <p class="is-main-font-color">Unhappy? </p><%= link_to "Delete My Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button is-button-color is-button-font-color" %> <br/><br/>

             <%= link_to "Back", :back, class: "button is-button-color is-button-font-color" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
