<p style="color: green"><%= notice %></p>

<%= render @qwipp %>

<div>
  <%= link_to "Edit this qwipp", edit_qwipp_path(@qwipp) %> |
  <%= link_to "Back to qwipps", qwipps_path %>

  <%= button_to "Destroy this qwipp", @qwipp, method: :delete %>
</div>
